* {
    font-family: "inter";
    margin: 0px;
}


html {
    width: 100%;
}

#menu-superior {
    background-color: #303030;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
}

#titulo-superior {
    font-size: 40px;
    font-weight: 600;
}

#texto-superior {
    font-size: 15px;
}

#dados {
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.dados-titulo {
    font-size: 30px;
    font-weight: 600;
}

.dados-texto {
    font-size: 15px;
    font-weight: 400;
}

#informacoes-gerais {
    background-color: #ffffff;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.informacoes-textoetitulo {
    align-items: center;
    padding-top: 180px;
    padding-left: 120px;

}

#informacoes-titulo {
    font-size: 32px;
    font-weight: 500;
}

#informacoes-texto {
    font-size: 18px;
    padding-top: 5%;
}

#informacoes-imagem {
    width: 450px;
    height: 490px;
    left: 976px;
    padding-top: 40px;
    padding-bottom: 35px;
}

#formulario {
    background-color: #303030;
    text-align: center;
}

#titulo-formulario {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 10px;
}

input {
    width: 308px;
    height: 42px;
    font-size: 15px;
    background-color: #FFFFFF;
    font-family: "raleway";
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding-left: 10px;
}

button {
    width: 160px;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
    font-family: "raleway";
    color: #FFFFFF;
    background: #C07212;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #d68d34;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    color: white;
    box-shadow: 2px 8px 8px #9c5906;
}